<div id="extension_list">
  <h3 class="selected">Extensions <i>(Inserted at cursor)</i></h3>

  <ol>
  <% for(extension in extensions) { %>
    <li><a data-import="<%= extensions[extension].imports %>"><%= extension %></a><% //&nbsp;&nbsp;(v1.4) %></li>
  <% } %>
  </ol>
</div>

