<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/app.css">
        <style>
          body {
            font: 16px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
            color: #444;
            margin: 0 auto;
            max-width: 960px; }
          a { color: #178db1; }
          label, textarea, select { display: block; }
          textarea, select { font-family: "Source Code Pro", SourceCodePro, Menlo, monospace; }
          textarea { width: 50%; height: 12em; }
        </style>
    </head>
    <body>
        <h1>libSassMeister</h1>
        <form action="/compile" method="post" accept-charset="utf-8">
          <label for="input">Sass</label>
          <textarea name="input">$box-color: red;

div {
  foo: map-get((foo: 1, bar: 2), foo);
  foo: map-get((foo: 1, bar: 2), bar);
  foo: map-get((foo: 1, bar: 2), baz);
  foo: map-get((), foo);
}

@import 'bourbon/bourbon';
@import 'bitters/bitters';

.box {
  color: $box-color;
}</textarea>
          <label for="output_style">Output Style</label>
          <select name="output_style">
            <option value="compressed">Compressed
            <option value="compact">Compact
            <option value="nested">Nested
            <option value="expanded" selected>Expanded
          </select>
          <label for="syntax">Syntax</label>
          <select name="syntax">
            <option value="sass">Sass
            <option value="scss" selected>SCSS
          </select>
          <button type="submit">Go</button>
        </form>
    </body>
</html>
